# ignore virtual environment
venv/
# ignore model artefacts & data
/models/
!src/models/
data/
*.parquet
*.pkl
*.h5
# caches
__pycache__/
.DS_Store
venv/
.env
node_modules/
__pycache__/
.pytest_cache/
models/*.pkl
models/*.h5
models/*.json
data/*.parquet
